

%content

  %side_contents
  .side_bloc
    .side_nav
      .side_nav__box
        
        .side_nav__box__username
          seo
        .side_nav__box__menu
          .side_nav__box__menu__new-group
            .fa.fa-edit 
          .side_nav__box__menu__edit-user
            .fa.fa-cog 
    .side_body
      .group
        .group__group-name
          sample
        .group__message
          Good bye world
  %main_contents
  .main_contents
    .main_contents__nav
      samle
      Members: seo neko
    .main_contents__body
      seo 2019/07/27
      hello world
    %post
    .post

